
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Homemade+Apple&family=Kenia&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap" );
      @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Homemade+Apple&family=Kenia&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
         @import url("https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap");
.blog {
    display: grid;
    height: 100%;
   
    overflow: hidden;
    grid-template-columns: 15% 20% 35% 30%;
    grid-template-rows: 100%;
    width: 100%;
    padding: 40px 4px;
    position: absolute;
    float: center;
    
  }

  .blog-part {
    padding: 0 20px; 
    margin: 0, auto;
    margin-top: 100px;
  }
  .blog-part:not(:last-child) {
    border-right: 1px solid #94918f;
  }

  marquee {
    font-size: 20px;
    background-color:rgba(0, 0, 0, 0.3);
    color: #899ba9;
    padding: 6px 0;
    width: calc(100% + 64px);
    margin: 0, auto;
    flex-shrink: 0;
    font-family: 'Homemade Apple', cursive;
  }

  .blog-big__title1 {
    font-size: 75px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    letter-spacing: -5px;
    line-height: 1;
    margin-bottom: 6px;
  }
  .blog-big__title2 {
    font-size: 80px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 200;
    letter-spacing: -5px;
    line-height: 1;
    margin-bottom: 6px;

  }


  .blog-article {
    padding: 0 20px;
  }
  .blog-article img {
    height: 460px;
    max-height: 22vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .page-number {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    font-size: 72px;
    text-align: center;
    letter-spacing: -3px;
    font-weight: lighter;
    font-family: "Space Grotesk", sans-serif;
    border-right: 1px solid #94918f;
    white-space: nowrap;
  }
  @media screen and (max-width: 100%) {
    .page-number {
      font-size: 5vw;
    }
  }
  

  @media screen and (max-width: 460px) {
    .small-title {
      font-size: 14px;
      position: absolute;
      top: 10px;
      right: 14px;
      border-bottom: 0;
    }
  }
  
  .date {
    display: flex;
    
  }
  
  .blog-article h2 {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    margin: 8px 0 8px;
    
  }
  .blog-article h2 span {
    font-family: 'Noto Sans KR', sans-serif;
  }
  .blog-article p {
    line-height: 1.5;
    margin: 14px 0;
  }
  .blog-article a {
    color: #161419;
    text-decoration: none;
    font-size: 26px;
    letter-spacing: -1px;
    display: flex;
   
    align-items: center;
    margin-top: auto;
    border-top: 1px solid #94918f;
    padding-top: 14px;
  }
  .blog-article a svg {
    width: 26px;
    margin-right: 10px;
  }
  
  .blog-detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
  }
  .blog-detail span {
    font-family: "Playfair Display", serif;
  }
  
  .blog-header-container {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
    border-right: 1px solid #94918f;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  

